.agency {
    margin-top: 77px;
    padding-top: 53px;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-left {
        width: 40%;

        .comment {
            color: #5E6085;
            font-family: Sora;
            font-weight: 600;
        }

        .title {
            margin-top: 15px;
            color: #000958;
            font-family: Sora;
            font-size: 5.2rem;
            font-weight: 700;
            line-height: 1.19;
        }

        .desc {
            color: #656689;
            width: 431px;
            line-height: 1.87
        }

        .agency-feature {
            margin-top: 54px;
            display: inline-grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            gap: 36px;

            .item {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            img.checkbox {
                box-shadow: 0px 4px 15px -3px rgba(255,93,49,0.69);
            }
        }
    }
    
    &-right {
        width: 42%;
        position: relative;

        .exp-zone {
            position: absolute;
            top: 157px;
            left: -92px;
            padding: 30px 26px;
            border-radius: 10px;
            background: #5BD6E2;
            box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
            text-align: center;
            font-family: Sora;


            .icon {
                position: absolute;
                top: -40px;
                right: -32px;
            }

            .years {
                color: #FFF;
                font-size: 4.2rem;
                font-weight: 700;
                line-height: 1; /* 100% */
            }

            .exp {
                margin-top: 14px;
                width: 83px;
                color: #C6F4F9;
                font-size: 1.4rem;
                line-height: 1.42;
            }
        }

        .agency-img {
            position: relative;
            .img {
                width: 494px;
                height: 559px;
                object-fit: cover;
                transform: scaleX(-1);
                display: block;
            }

            .img-icon {
                position: absolute;
                right: -50px;
                top: 150px;
            }

            &::after {
                position: absolute;
                inset: auto 0 0 0;
                z-index: -1;
                content: "";
                height: 336px;
                width: 100%;
                display: block;
                background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);

            }
            border-radius: 16px;
        }
    }
}

