.blog {
    padding: 65px 0 130px;

    &-header {
        padding-right: 73px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            color: var(--text-heading-color);
            font-family: Sora;
            font-size: 5.2rem;
            font-weight: 700;
            line-height: 1.19;
        }


        .update {
            color: var(--text-paragraph-color);
            font-size: 1.6rem;
            line-height: 1.87;
            width: 350px;
        }

        .view {
            margin-top: 24px;
        }
    }

    &-list {
        margin-top: 56px;

        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 48px;


    }

    &-item {
        flex-grow: 1;
        cursor: pointer;


        &:hover {
            transform: translateY(-15px);

            .title {
                color: var(--bg-button-color);

            }
        }

        .thumb {
            padding-top: 24px;
            padding-left: 36px;
            background-color: var(--thumb-bg-color);
            border-radius: 24px;
        }

        .date-post {
            color: #FFF;
            font-family: Sora;
            font-size: 1.4rem;
            line-height: 1.21;
        }

        .img-thumb {
            margin-top: 25px;
            width: 100%;
            height: 296px;
            object-fit: cover;
            display: block;
        }

        .title {
            margin-top: 28px;
            color: var(--text-heading-color);

            font-family: Sora;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.54;
            cursor: pointer;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-all;
        }

        .desc {
            margin-top: 16px;
            color: var(--text-paragraph-color);
            font-size: 1.4rem;
            line-height: 1.71;

            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-all;
        }
    }
}