.hero { 
  margin-top: 74px;

  .content {
    display: flex;
  }

  .hero-left {
    width: 47%;
    display: flex;
    position: relative;

    .picture-cat {
      background: #FE997B;
      border-radius: 16px;
      img {
        width: 388px;
        height: 488px;
        object-fit: cover;
      }

    }

    .picture-dog {
      margin-top: auto;

      img {
        border-radius: 16px;
        border: 1px solid #FFF;
        background: #FAA7AD;
        width: 186px;
        height: 244px;
        object-fit: cover;
      }
    }

  }

  .hero-right {
    width: 44%;
  }
}