* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

.font-sora-bold {
  font-family: "Sora", sans-serif;
  font-weight: 600;
}

.main-heading {
  color: var(--text-heading-color);
  font-family: Sora;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
}

p.desc {

}